html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.logo-img {
    width: 20%;
    height: 50px;
    object-fit: cover;
    position: absolute;
}

.header-img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

ul.ddmenu {
    width: 100%;
    height: 50px;
    margin: 0px;
    padding: 0px 0px 0px 0px;
    background-color: #06d48f;
    text-align: center;
}

ul.ddmenu li {
    width: 125px;
    margin-right: 20px;
    display: inline-block;
    list-style-type: none;
    position: relative;
    z-index: 1;
}

ul.ddmenu a {
    background-color: #00cc88;
    color: white;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    display: block;
}

ul.ddmenu ul {
    display: none;
    margin: 0px;
    padding: 0px;
    position: absolute;
}

ul.ddmenu a:hover {
    background-color: #87fbb0;
    color: #3d3d3d;
}

ul.ddmenu li:hover ul {
    display: block;
}

.container {
    margin: 10px auto;
    width: 90%;
}

.start {
    text-align: center;
}

.start img {
    width: 60%;
    height: 280px;
    object-fit: cover;
    margin: 0 auto;
}

.start div {
    width: 60%;
    margin: 0 auto;
}

.start p {
    margin: 0 auto;
    text-align: left;
}

.content {
    width: 80%;
    margin: 0px auto;
}

.content-flex {
    display: flex;
}

.content-img-back {
    width: 60%;
    background-color: #eec841;
}

.content-img {
    display: block;
    width: 90%;
    margin: auto;
    height: 200px;
    object-fit: cover;
}

.content-detail {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-detail p {
    text-align: center;
    padding-bottom: 10px;
}

.content-detail-button {
    height: 30%;
    width: 80%;
    margin: 0 auto;
    background-color: #eec841;

    border: solid;
    border-color: black;
    border-radius: 8px;
    text-align: center;

    position: relative; 
}

.content-url { 
    width: 100%;
    text-decoration: none;
    position: absolute;          /* 位置指定 */
    top: 50%;                    /* 親要素の半分下にずらす */
    left: 50%;                   /* 親要素の半分右にずらす */
    transform: translateY(-50%) translateX(-50%);    /* 要素自体の半分、上と左にずらす */

}


.box {
    border: solid;
    border-color: black;
    border-radius: 4px;
    margin-bottom: 5px;
    padding: 3px;
}

.menuBox {
    
}

.menu-row {
    display: flex;
    margin-bottom: 10px;
}

.menu {
    width: 100%;
    border: solid;
    border-color: black;
    border-radius: 4px;
    margin-bottom: 5px;
    margin-right: 10px;
    margin-left: 2px;
    padding: 0px;
}

.menu-img-back {
    width: 100%;
    background-color: #eec841;
}

.menu-img {
    display: block;
    width: 80%;
    margin: auto;
    height: 200px;
    object-fit: cover;
}

.menu-detail {
    width: 80%;
    margin: 0 auto;
}

.menu-title {
    margin: 0;
}

.menu-price {
    text-align: right;
    margin: 2px 0 2px;
}

.kodawari-flex {
    display: flex;
}

.kodawari-img-back {
    width: 50%;
    background-color: #eec841;
    margin-right: 10px;
    margin-left: 10px;
}

.kodawari-img {
    display: block;
    width: 100%;
    margin: auto;
    height: 300px;
    object-fit: cover;
}

.kodawari-detail {
    width: 50%;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
}

footer {
    margin-top: auto;
    padding: 30px 0;
    background: rgb(60, 60, 60);
    color: #fff;
    text-align: center;
}

.footer-logo-img {
    width: 20%;
    height: 50px;
    object-fit: cover;
}
