body {
    background: -moz-linear-gradient(top, #ffffff, #d2d2d2);
    background: -webkit-linear-gradient(top, #ffffff, #d2d2d2);
    background: linear-gradient(to bottom, #ffffff, #d2d2d2);
}

.navbar-brand {
    background: url("../img/logo.png") center no-repeat;
    background-size: cover;
    height: 60px;
    width: 80px;
}

.jumbotron {
    background:url(../img/ワインと人気メニュー.jpg) center no-repeat; 
    background-size: cover;
}

.carousel-item {
    height: 700px;
    background-size: cover;
}

.slideImg {
    height: 100%;
    object-fit: cover;
}

.topImg {
    height: 350px;
    width: 100%;
    object-fit: cover;
}

.menuImgBack {

}

.menuImg {
    height: 250px;
    width: 100%;
    object-fit: cover;
}

.menuImg2 {
    height: 400px;
    width: 100%;
    object-fit: cover;
}

.modalImg {
    width: 100%;
}

.footerLogo {
    background: url("../img/logo.png") center no-repeat;
    background-size: cover;
    height: 45px;
    width: 60px;
    margin: 0 auto;
}